@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

:root {
  font-size: 20px;
  font-family: 'Roboto Slab', sans-serif;
  user-select: none;
  --background-color: #bdbdbd;
}

.flex {
  display: flex;
}

body {
  height: 100vh;
  margin: 0;
  flex-direction: column;
  background-image: linear-gradient(180deg, #707070, #bdbdbd);
  background-attachment: fixed;
}

#content {
  justify-content: center;
  flex: 1;
}

#content > section {
  width: 32rem;
}

#content > section > * {
  width: 100%;
}

h1 {
  text-align: center;
  margin: 0;
  padding: 0.5rem;
  font-size: 2.5rem;
  filter:
    drop-shadow(2px 0 0 #bdbdbd)
    drop-shadow(-2px 0 0 #bdbdbd)
    drop-shadow(0 2px 0 #bdbdbd)
    drop-shadow(0 -2px 0 #bdbdbd)
}

#menu {
  justify-content: space-around;
}

.selected {
  transform: scale(1.2);
  background-color: #dedede;
  outline: 2px solid black;
  border-radius: 5px;
}

.button {
  transition: transform 0.1s ease;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 2.4rem
}

.button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.button:active {
  transform: scale(1);
}

#background .button {
  color: white;
}

#color .button {
  color: black;
}

#background .button, #color .button {
  filter:
    drop-shadow(0.5px 0 0 black)
    drop-shadow(-0.5px 0 0 black)
    drop-shadow(0 0.5px 0 black)
    drop-shadow(0 -0.5px 0 black)
}

input[type="range"] {
  margin: 0.5rem 0;
  background-color: grey;
  cursor: ew-resize;
}

#canvas-header {
  box-sizing: border-box;
  background-color: black;
  color: snow;
  align-items: center;
  padding: 0.25rem 0;
  box-shadow: 
    0.25rem 0 0 #000,
    -0.25rem 0 0 #000;
}

#size {
  font-size: 1.5rem;
  margin-left: 0.5rem;
}

#undo, #redo {
  font-size: 2rem;
  transition: transform 0.1s ease;
  color: rgb(111, 111, 111);
  cursor: default;
}

#undo.clickable, #redo.clickable {
  color: white;
}

#undo.clickable:hover, #redo.clickable:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#undo:active, #redo:active {
  transform: scale(1);
}

#undo {
  margin-left: auto;
  margin-right: 0.5rem;
}

#redo {
  margin-right: 0.5rem;
}

#canvas {
  box-sizing: border-box;
  height: 32rem;
  outline: 0.25rem solid black;
  flex-direction: column;
}

#canvas:hover {
  cursor: url('./assets/brush.cur'), default;
}

.row {
  flex: 1;
}

.square {
  flex: 1;
  background-color: white;
}

.grid > .row > .square {
  border-top: 1px solid black;
  border-left: 1px solid black;
}

footer {
  padding: 0.5rem;
  margin-top: 1rem;
  font-size: 1rem;
  text-align: center;
}

a {
  position: relative;
  color: black;
  text-decoration: none;
}

a::after {
  content: '';
  position: absolute;
  bottom: 0.1rem;
  left: 0;
  border-bottom: 1px solid black;
  width: 100%;
  transition: width .1s;
  pointer-events: none;
}

a:hover::after {
  width: 0%;
}

input[type="color"] {
  display: none;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  opacity: 0;
  width: 6rem;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 120%;
  left: calc((100% - 6rem) / 2);
  transition: opacity 0.20s linear 1s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.button:hover ~ .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.button:active ~ .tooltiptext {
  visibility: hidden;
}