@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

:root {
  font-size: 20px;
  font-family: 'Roboto Slab', sans-serif;
  user-select: none;
  --background-color: #bdbdbd;
}

.flex {
  display: flex;
}

body {
  height: 100vh;
  margin: 0;
  flex-direction: column;
  background-color: var(--background-color);
}

h1 {
  text-align: center;
  margin: 0;
  padding: 0.5rem;
}

#content {
  justify-content: center;
  align-items: center;
  flex: 1;
}

#content > section {
  width: 32rem;
}

#content > section > * {
  width: 100%;
}

#menu {
  justify-content: space-around;
}

.selected {
  transform: scale(1.2);
  background-color: #dedede;
  border: 3px solid black;
  border-radius: 5px;
}

label {
  transition: transform 0.2s ease;
}

label:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#menu i {
  color: black;
  font-size: 2.4rem;
}

#menu i.fill{
  filter:
    drop-shadow(0.5px 0 0 black)
    drop-shadow(-0.5px 0 0 black)
    drop-shadow(0 0.5px 0 black)
    drop-shadow(0 -0.5px 0 black)
}

input[type="range"] {
  margin: 0.5rem 0;
  background-color: grey;
}

#canvas-header {
  box-sizing: border-box;
  background-color: black;
  color: snow;
  align-items: center;
  border: solid black;
  border-width: 0.25rem 0.25rem 0;
}

#size {
  font-size: 1.5rem;
  margin-left: 0.5rem;
}

#undo, #redo {
  font-size: 2rem;
}

#undo {
  margin-left: auto;
  margin-right: 0.5rem;
}

#redo {
  margin-right: 0.5rem;
}

#canvas {
  box-sizing: border-box;
  background-color: white;
  height: 32rem;
  border: 0.25rem solid black;
  flex-direction: column;
}

.row {
  flex: 1;
}

.square {
  flex: 1;
  border: 1px solid black;
}

footer {
  padding: 0.5rem;
  margin-top: 0.5rem;
  text-align: center;
  background-color: grey;
}

a {
  position: relative;
  color: black;
  text-decoration: none;
}

a::after {
  content: '';
  position: absolute;
  bottom: 0.1rem;
  left: 0;
  border-bottom: 1px solid black;
  width: 0%;
  transition: width .1s;
  pointer-events: none;
}

a:hover::after {
  width: 100%;
}

input[type="color"] {
  display: none;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  opacity: 0;
  width: 6rem;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 120%;
  left: calc((100% - 6rem) / 2);
  transition: opacity 0.20s linear 1s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}